* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(42, 40, 40);
  /* background-image: url(../assets/dumbbell-1966247_1920.jpg); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.faqs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 25px;
  opacity: 0.85;
  background-color: transparent;
}

.faqs .faq {
  background-color: rgb(54, 51, 51);
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
  color: antiquewhite;
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.4s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.faqs .faq .faq-question:hover {
  cursor: pointer;
  font-size: 1.5vw;
  color: green;
}

.faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 20px;
  background-image: url("../assets/arrow-down-mint.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
  color: white;
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2vw;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
