* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.mainGrid {
  background-color: rgb(253, 250, 250);
  margin-top: 1vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(60px, 70px);
  column-gap: 1vw;
  border: 1px solid black;
  margin-bottom: 5vw;
  font-family: "Peddana", serif;
}
.stripe_button_1 {
  margin-top: 2vw;
  background-image: white;
  color: black;
  border: 1px solid black;
  padding-top: 1.3vw;
  padding-bottom: 1.3vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin-left: 8vw;
  margin-bottom: 2vw;
  transition-property: font-size;
  transition-duration: 0.3s;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.stripe_button_2 {
  margin-top: 2vw;
  background-image: linear-gradient(tomato, orange);
  color: black;
  border: 1px solid black;
  padding-top: 1.3vw;
  padding-bottom: 1.3vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  transition-property: font-size;
  transition-duration: 0.3s;
  margin-left: 8vw;
  margin-bottom: 2vw;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border: none;
  font-weight: bolder;
  letter-spacing: 0.05cm;
}

.stripe_button_1:hover {
  font-size: 1.1vw;
}

.stripe_button_2:hover {
  font-size: 1.1vw;
}
.membership_1 {
  margin-top: 1vw;
  grid-column: 1;
}

.mainHeading {
  grid-row: 1;
  font-size: 3.5vw;
  letter-spacing: 0.05cm;
  word-spacing: 0.1cm;
}

.dollar_logo {
  margin-top: 2vw;
  grid-row: 2;
  justify-self: center;
  margin-left: 1vw;
  font-size: 2vw;
}

.priceValue {
  grid-row: 2;
  justify-self: center;
  font-size: 6vw;
  letter-spacing: 0.05cm;
  word-spacing: 0.1cm;
  font-family: "Peddana", serif;
}

.services {
  grid-row: 3/4;
  align-self: end;
  margin-left: 1vw;
  font-size: 1.7vw;
  margin-bottom: 3vw;
  font-family: "Peddana", serif;
}

.logoColor {
  margin-top: 5vw;
  font-size: 1vw;
  margin-left: 1vw;
}

.buyNow {
  margin-top: 2vw;
  padding: 1.2vw;
  justify-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 1vw;
  letter-spacing: 0.05cm;
  transition: font-size;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  text-transform: uppercase;
  margin-bottom: 2vw;
}
.buyNow:hover {
  font-size: 1.1vw;
}
